<!DOCTYPE html>
<html>
	<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<![endif]-->

		<title>研究院项目变更审批流程</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="renderer" content="webkit">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--公共的js和css start-->
		[#AWSImport]
		[#AWSUIImport]
		<!--公共的js和css end-->
		<!--配色方案-->
		<link rel='stylesheet' id='schemeCss' href='../apps/_bpm.platform/css/colorschemes/scheme_aws.css'  name='schemeCss'/>
	
      <link type='text/css' rel='stylesheet' id='buttonCss' href='../css/cmcc.common.css?v=1489747055000' name='buttonCss'/>


<style>
	body {
		min-width: 1248px !important;overflow: auto !important;
		}
</style>
















<link type='text/css' rel='stylesheet' id='themeCss' href='../apps/_bpm.platform/css/theme/theme.css' name='themeCss'/>
</head>
	<body>
<form id="frmMain" method="post" name="frmMain">
<div border="0" style="display: none;"><a id="trackVar" border="0" href="#" target="_blank" rel="noopener"></a></div>
<table id="aws-form-maintable" class="awsui-ux aws-form-ux-maintable" style="table-layout: auto;" border="0" cellspacing="0" cellpadding="0" align="center"><!--每个模板必须含有 aws-form-titlebg 和 title样式 否则无法应用配色风格-->
<tbody>
<tr id="aws-form-titlebg" class="aws-form-ux-titlebg"><!--若自定义模板title的 id --></tr>
<tr id="aws-form-formcontent" class="aws-form-ux-formcontent">
<td>
<table style="border-collapse: separate; border-spacing: 0px;" width="100%" align="center">
<tbody>
<tr>
<td>
<table id="table_container" class="awsui-ux table-striped" style="padding: 0px;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr id="aws-form-formcontent">
<td><iframe id="urlFormIframe" style="width: 100%; height: 400px;" src="../../spms/cmri/Workflow/change?form=main&amp;process_id=" name="urlFormIframe" frameborder="0" scrolling="no"></iframe></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr class="aws-form-bottom">
<td class="aws-form-ux-actionsoft">[#Actionsoft]</td>
</tr>
<tr class="aws-form-bottom" style="font-size: 14px;">
<td style="overflow: hidden;">
<div class="aws-form-ux-tab-content" border="0">
<div class="aws-form-ux-tab-item" border="0" style="border-top: 1px solid #DDD;" tit="tab1"><!--<h3 style="text-align:center;margin:0px 20px 20px 20px">审批意见</h3> -->
<table id="oplogs" class="table table-bordered table-striped" style="width: 100%;" align="center">
<tbody id="logsbody">
<tr>
<td colspan="2">
<div border="0" align="center"><strong>审批意见</strong></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</form>
<script language="JavaScript" src="../js/cmcc.common.toolbar.js?v=1526523413000" type="text/javascript"></script>
<script language="JavaScript" src="../js/cmcc.common.logoffbutton.js?v=1502099639000" type="text/javascript"></script>
<script language="JavaScript" src="../js/commonAddProcessExplain.js?v=1500610717800" type="text/javascript"></script>
<script id="formOnload">// <![CDATA[
function formOnload(){
  PROCESSTYPE="cmri-change";
	var host = window.location.host;
  if(openState != 1){
	 var newurl="http://"+host+"/spms/cmri/Workflow/change?form=change_read&process_id=@processId()";//只读表单
	 
	 document.getElementById("urlFormIframe").src = newurl;
  }else{
	   var newurl="http://"+host+"/spms/cmri/Workflow/change?form=main&process_id=@processId()";
	   document.getElementById("urlFormIframe").src = newurl;
  }
 	awsui.ajax.request({
		type : "POST",
		url : "./jd",
        alert:false,
		dataType : "json",
		data : {
			cmd : "com.actionsoft.apps.cmcc_Change",
			sid:sid,
			processid:processInstId
		},
		success : function(data) {
			var html = data.msg;
			$("#logsbody").append(html);
		}
	});
}
// ]]></script>
<script id="formSave">// <![CDATA[
/*
参数isTransact为true，表示办理按钮触发的保存动作
其他情况是保存按钮触发的保存动作
*/
function formSave(isTransact){
	
		if(isTransact == true){
	   		 var val=window.frames["urlFormIframe"].isSubmit;
	   		 //alert(val);
	   		 if(val==undefined)
	   			 {
	   			 alert("请先填写表单,再点击提交下一步");
	   			 return false;
	   			 }
	   		 var modify = window.frames["urlFormIframe"].isModify;//修改表单状态
	  		 if(val == false){
	         	alert("请先点击保存，再点击提交下一步");
	           return false;
	         } 
	   		 if(modify==true)
	   			 {
	   			  alert("请先保存修改数据，再点击提交下一步");
	              return false;
	   			 }
	    }
		return true;
		
		
}
$('#dialog_toolbar_action_page_frame').load(function() { 
	if(stepId =="obj_c79b74d58d200001d73d171d170010bf"){//项目总监或所主管审核
		if(openState == 1){
			hiddenMemo("obj_de0e2474aecd40b899c45dc92254e4da");
			$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_de0e2474aecd40b899c45dc92254e4da").parent().next().next().remove();
		}else{
			WBCDLJ = "项目管理人员审核";
			hiddenMemo("obj_acc83727142a40d1ac68f1c6772cb9a2");
			hiddenMemo("obj_dd7a07deaa0c4848ad68b570b95db95a");
			hiddenMemo("obj_ae6c307723bd4488bdda0f194f63ab14");
			hiddenMemo("obj_03dce5895d864305b82f824254388e6e");
			$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_acc83727142a40d1ac68f1c6772cb9a2").parent().next().next().remove();
			$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_dd7a07deaa0c4848ad68b570b95db95a").parent().next().next().remove();
			$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_ae6c307723bd4488bdda0f194f63ab14").parent().next().next().remove();
			$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_03dce5895d864305b82f824254388e6e").parent().next().next().remove();
		}
		nextStepName_jq = "配合部所会签";
		$("#dialog_toolbar_action_page_frame").show();
		//处理加签
		setTimeout(function(){
			var actionIdMap = new Object();
			actionIdMap[3]="obj_acc83727142a40d1ac68f1c6772cb9a2";//加签
			var toolbarsrc = document.getElementById("dialog_toolbar_action_page_frame").src;
			if(toolbarsrc.indexOf("cmd=CLIENT_BPM_TASK_TRANSACT")>-1){
				reload_BTN_Default_Action(actionIdMap,"obj_de0e2474aecd40b899c45dc92254e4da","obj_acc83727142a40d1ac68f1c6772cb9a2");
			}
		},500);
		var toolbarsrcUrl = document.getElementById("dialog_toolbar_action_page_frame").src;
		//各部门管理人员对应表 
		if("obj_dd7a07deaa0c4848ad68b570b95db95a"==routeId && toolbarsrcUrl.indexOf("cmd=CLIENT_BPM_TASK_GOTO_EXEC_PAGE")>-1){
			projectManager();
		}
	}else{
		$("#dialog_toolbar_action_page_frame").show();
	}
});  
$(document).ready(function(){
	$("#BTN_TRANSACT").off("click").on("click", function() {
		$("#dialog_toolbar_action_page_frame").hide();
		FormToolBarAction.BTN_TRANSACT();		
	});
});
// ]]></script>
</body>
</html>