<!DOCTYPE html>
<html>
	<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>研究院结题审批流程</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="renderer" content="webkit">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--公共的js和css start-->
		[#AWSImport]
		[#AWSUIImport]
		<!--公共的js和css end-->
		<!--配色方案-->
		<link rel='stylesheet' id='schemeCss' href='../apps/_bpm.platform/css/colorschemes/scheme_aws.css'  name='schemeCss'/>
		<link type='text/css' rel='stylesheet' id='buttonCss' href='../css/cmcc.common.css?v=1489747055000' name='buttonCss'/>

	









<link type='text/css' rel='stylesheet' id='themeCss' href='../apps/_bpm.platform/css/theme/theme.css' name='themeCss'/>
</head>
	<body>
<form id="frmMain" method="post" name="frmMain">
<div border="0" style="display: none;"><a id="trackVar" border="0" href="#" target="_blank" rel="noopener"></a></div>
<table id="aws-form-maintable" class="aws-form-ux-maintable" style="table-layout: auto;" border="0" cellspacing="0" cellpadding="0" align="center"><!--每个模板必须含有 aws-form-titlebg 和 title样式 否则无法应用配色风格-->
<tbody>
<tr id="aws-form-formcontent">
<td><iframe id="urlFormIframe" style="width: 100%; height: 400px;" name="urlFormIframe" frameborder="0"></iframe></td>
</tr>
<tr class="aws-form-bottom">
<td class="aws-form-ux-actionsoft">[#Actionsoft]</td>
</tr>
<tr class="aws-form-bottom" style="font-size: 14px;">
<td style="overflow: hidden;">
<div class="aws-form-ux-tab-content" border="0">
<div class="aws-form-ux-tab-item" border="0" style="border-top: 1px solid #DDD;" tit="tab1"><!--<h3 style="text-align:center;margin:0px 20px 20px 20px">审批意见</h3> -->
<table id="oplogs" class="table table-bordered table-striped" style="width: 100%;" align="center">
<tbody id="logsbody">
<tr>
<td colspan="2">
<div border="0" align="center"><strong>审批意见</strong></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</form>
<script language="JavaScript" src="../js/cmcc.common.toolbar.yjy.js?v=1490610715000" type="text/javascript"></script>
<script language="JavaScript" src="../js/commonAddProcessExplain.js?v=1500610717800" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript" id="zxjs"></script>
<script type="text/javascript" id="formOnload">// <![CDATA[
function formOnload(){
	PROCESSTYPE="cmri-end";
	$("#FormReturnZone").hide();
	var host = window.location.host;
	var newurl="http://"+host+"/spms/cmri/workflow/end?form=end_read&type=cmri-end&finance=read&process_id="+processInstId;
	debugger;
	document.getElementById("urlFormIframe").src = newurl;
	awsui.ajax.request({
		type : "POST",
		url : "./jd",
        alert:false,
		dataType : "json",
		data : {
			cmd : "com.actionsoft.apps.cmcc_YjyJx",
			sid:sid,
			processId:processInstId
		},
		success : function(data) {
			var html = data.msg;
			$("#logsbody").append(html);
		}
	});
	
	if(openState == 11){
		reload_BTN_ADHOC_TASK_OK();
	}	
}
$('#dialog_toolbar_action_page_frame').load(function() { 
	if(stepId == "obj_c7b0c393470000016124c11b13f0b430"){//项目管理部门领导审核
		$("#BTN_Default_Action").removeAttr("onclick");
		var parentTaskState = "";
		if (openState == 1) {
			nextStepName_jq = "相关部所会签";
			//隐藏返回相关部所会签
			hiddenMemo("obj_8e08286a85004c5292b996cee656d855");//返回相关部所会签
			$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_8e08286a85004c5292b996cee656d855").parent().next().next().remove();
			
			hiddenMemo("obj_59bd789b46e846cc98aa4142a51ee61c");//返回项目管理部门
			$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_59bd789b46e846cc98aa4142a51ee61c").parent().next().next().remove();
			$("#dialog_toolbar_action_page_frame").show();
		}else{
			//隐藏不是加签的路径
			hiddenMemo("obj_1525a61297b2449a99f55550a1639e26");
			hiddenMemo("obj_2953ebde85bd40738aef314d7e1c3c33");
			hiddenMemo("obj_cd7ac11e8a9c4539978bce99dd8e9e97");//传阅
			hiddenMemo("obj_48439cda51034a719a55f784f16bfbe9");
			
			$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_1525a61297b2449a99f55550a1639e26").parent().next().next().remove();
			$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_2953ebde85bd40738aef314d7e1c3c33").parent().next().next().remove();
			$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_cd7ac11e8a9c4539978bce99dd8e9e97").parent().next().next().remove();
			$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_48439cda51034a719a55f784f16bfbe9").parent().next().next().remove();
			
			awsui.ajax.request({
				type : "POST",
				url : "./jd",
				alert:false,
				dataType : "json",
				data : {
					cmd : "com.actionsoft.apps.cmcc_getParentTaskState",
					sid:sid,
					parentTaskId:parentTaskInstId
				},
				ok : function(r) {
					var  taskState = r.data.taskState;
					parentTaskState = taskState;
					if(taskState==11){
						WBCDLJ = "相关部所会签";
						hiddenMemo("obj_59bd789b46e846cc98aa4142a51ee61c");//返回项目管理部门
						$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_59bd789b46e846cc98aa4142a51ee61c").parent().next().next().remove();
			
						hiddenMemo("obj_332093e5725e4ace8ecd823ac91ebd86");//隐藏送部所内部会签
						$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_332093e5725e4ace8ecd823ac91ebd86").parent().next().next().remove();
					}else{
						WBCDLJ = "项目管理部门领导审核";
						updateMemo("obj_332093e5725e4ace8ecd823ac91ebd86","送相关部所内部会签");
						
						hiddenMemo("obj_8e08286a85004c5292b996cee656d855");//返回相关部所会签
						$(window.frames["dialog_toolbar_action_page_frame"].document).find("#obj_8e08286a85004c5292b996cee656d855").parent().next().next().remove();
                        
					}
					nextStepName_jq = "相关部所内部会签";
					$("#dialog_toolbar_action_page_frame").show();
				}
			});			
						
		}
		//处理加签
		setTimeout(function(){
			var actionIdMap = new Object();
			actionIdMap[3]="obj_332093e5725e4ace8ecd823ac91ebd86";//送部所内部会签
			
			var toolbarsrc = document.getElementById("dialog_toolbar_action_page_frame").src;
			if(toolbarsrc.indexOf("cmd=CLIENT_BPM_TASK_TRANSACT")>-1){
				 if (openState == 1) {
					reload_BTN_Default_Action(actionIdMap,'obj_59bd789b46e846cc98aa4142a51ee61c','obj_332093e5725e4ace8ecd823ac91ebd86','','obj_cd7ac11e8a9c4539978bce99dd8e9e97');//返回部所内部会签、传阅
				 }else if(openState == 11){
					if(parentTaskState != 11){
						reload_BTN_Default_Action(actionIdMap,'obj_59bd789b46e846cc98aa4142a51ee61c','','','obj_cd7ac11e8a9c4539978bce99dd8e9e97');
					}else{
						reload_BTN_Default_Action(actionIdMap,'obj_8e08286a85004c5292b996cee656d855','','','obj_cd7ac11e8a9c4539978bce99dd8e9e97');
					}
				 }
			}else if(toolbarsrc.indexOf("cmd=CLIENT_BPM_TASK_CC_TASK_PAGE")>-1){
				var yzrMemoIdNotEnd = new Array();
				yzrMemoIdNotEnd.push(['obj_cd7ac11e8a9c4539978bce99dd8e9e97']);
				reload_BTN_Default_Action(null,null,null,null,null,yzrMemoIdNotEnd);
			}
		},500);

	}else if(stepId == "obj_c7b0c38d68a00001ec661ef017b61f42"){//项目管理人员
		$("#BTN_Default_Action").removeAttr("onclick");
		$("#dialog_toolbar_action_page_frame").show();
		//处理加签
		setTimeout(function(){
			var toolbarsrc = document.getElementById("dialog_toolbar_action_page_frame").src;
			if(toolbarsrc.indexOf("cmd=CLIENT_BPM_TASK_TRANSACT")>-1){
				if (openState == 1) {
					reload_BTN_Default_Action(null,null,null,"obj_cc63c282b9cd44489114a462694ab95e","obj_d07aa13d7d9e45bba1b8c97eb15bb34b");
				}
			}else if(toolbarsrc.indexOf("cmd=CLIENT_BPM_TASK_CC_TASK_PAGE")>-1){
				var yzrMemoIdNotEnd = new Array();
				yzrMemoIdNotEnd.push(['obj_d07aa13d7d9e45bba1b8c97eb15bb34b']);
				reload_BTN_Default_Action(null,null,null,null,null,yzrMemoIdNotEnd);
			}
		},500);
	}else{
		$("#dialog_toolbar_action_page_frame").show();
	}
});  
$(document).ready(function(){
	$("#BTN_TRANSACT").off("click").on("click", function() {
		$("#dialog_toolbar_action_page_frame").hide();
		FormToolBarAction.BTN_TRANSACT();		
	});
});
// ]]></script>
</body>
</html>