
<html>
<head>
</head>
<body text="#000000">
<html>
<head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<title><#title></title>
<style>table { }
     td { font-family: 'Arial', 'Helvetica', 'sans-serif';font-size: 12px; vertical-align: middle ; padding-top: 6px; }
      </style>  
    
<SCRIPT LANGUAGE=JavaScript>
function cancleclick()
{
window.close() 
}
function setprop()
{
}
</SCRIPT>
</head>
<body onload="setprop()" bgcolor="#ffffff" >
<br><h1 align="center"><font face=><#title></font></h1><CENTER>
<table width="100%" border='0' cellspacing='0' cellpadding='0' align='CENTER'>
<tr bgcolor='#EDEDED'>
<td width="18%" ><b>处理环节</b></td>
<td width="8%" ><b>处理人</b></td>
<td width="13%" ><b>到达时间</b></td>
<td width="13%" ><b>发出时间</b></td>
<td width="19%" ><b>提交路径</b></td>
<td width="29%" ><b>后续处理环节</b></td>
</tr>
<#optionMsg>
</table>
<br>
<br>
</body>
<br>
<br>
<p align="center"><input type="button" value="关闭" name="OK" onclick="cancleclick()">
</p>
</html>
</body>
</html>
